## A notebook to reduce the number of unique cell types

In [33]:
# install and import libraries
%pip install pandas

import pandas as pd

Requirement already satisfied: pandas in /Users/abueckle/Documents/GitHub/hra-organ-gallery-in-vr-development/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/abueckle/Documents/GitHub/hra-organ-gallery-in-vr-development/.venv/lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/abueckle/Documents/GitHub/hra-organ-gallery-in-vr-development/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/abueckle/Documents/GitHub/hra-organ-gallery-in-vr-development/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/abueckle/Documents/GitHub/hra-organ-gallery-in-vr-development/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/abueckle/Documents/GitHub/hra-organ-gallery-in-vr-development/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
# load data
df = pd.read_csv("../hra-organ-gallery/Assets/Resources/SingleCellsNodesEdges/LN00837-nodes.csv")
df

                   x             y Cell Type
0       16269.831479   8683.127186       FDC
1       18553.896989   7700.741680       FDC
2       14898.646825   9976.730159       FDC
3       19678.308571  11826.737143       FDC
4       14901.333333   9954.969136       FDC
...              ...           ...       ...
369637  14848.231733   9167.459290      Mast
369638  14899.514925   9404.738806      Mast
369639  12579.616613   5712.654952      Mast
369640  14706.286765   9352.544118      Mast
369641   1831.337449   6500.148148      Mast

[369642 rows x 3 columns]

In [35]:
# get unique cell type labels
df['Cell Type'].unique()

array(['FDC', 'ILC', 'Monocytes', 'DC_pDC', 'Endothelial',
       'T_CD8+_cytotoxic', 'Macrophages_M2', 'B_mem', 'T_CD4+_TfH_GC',
       'T_TfR', 'T_CD4+_naive', 'B_plasma', 'VSMC', 'NK', 'T_Treg',
       'B_Cycling', 'B_naive', 'B_GC_DZ', 'Macrophages_M1', 'B_GC_LZ',
       'T_CD4+', 'B_preGC', 'B_activated', 'B_IFN', 'DC_cDC2',
       'T_CD4+_TfH', 'T_CD8+_naive', 'DC_CCR7+', 'T_CD8+_CD161+',
       'DC_cDC1', 'B_GC_prePB', 'T_TIM3+', 'NKT', 'Mast'], dtype=object)

In [36]:
# functions
def unify_names(df:pd.DataFrame, substitute:str, replace_with:str):
  """Unifies all cell type names that share a substring

  Args:
      df (pd.DataFrame): A pandas df
      substitute (str): What to replace
      replace_with (str): What to replace it with
  
  Returns: df (pd.DataFrame): The result as a df
  """

  # Function to replace values starting with 's' with 'same_value'
  df = df.applymap(lambda x: replace_with if isinstance(
      x, str) and x.startswith(substitute) else x)
  
  return df

In [37]:
# unify B cells
df = unify_names(df,"B_", "B Cell")
df = unify_names(df, "T_CD8", "T_CD8 Cell")
df = unify_names(df, "T_CD4", "T_CD4 Cell")
df = unify_names(df, "NK", "NK Cell")
df = unify_names(df, "DC", "DC Cell")

/var/folders/x7/ttglg94d4g500ypbdkw3__nw0000gq/T/ipykernel_62772/1424507300.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: replace_with if isinstance(

In [38]:

len(df['Cell Type'].unique())

16

In [40]:
# Export to CSV
df.to_csv("../hra-organ-gallery/Assets/Resources/SingleCellsNodesEdges/LN00837-nodes_REDUCED_CELL_TYPES.csv", index=False)